<div>
    <br/>
    <div><ResourceLegend/></div>
    <br/>
    <!--<div>{{g-timeline data=this.chart_data showBarLabels=false width=800}}</div>-->
    <!--<div>
        {{#each this.array_data as |data|}}
            <div>{{data}}</div>
        {{/each}}
    </div>-->
    <div>{{g-timeline data=this.array_data showBarLabels=false width=800}}</div>

</div>