<ul class="legend" style="list-style: none; display: inline;">
    <li style="display: inline; float: left; padding-right: 10px;"><b>Legend:  </b></li>
    <li style="display: inline; float: left; padding-right: 10px;"><span style="display: inline; float: left; background-color: #39A9DB; border: 1px solid #ccc; width: 12px; height: 12px; margin: 2px;"></span> Memory</li>
    <li style="display: inline; float: left; padding-right: 10px;"><span style="display: inline; float: left; background-color: #FFCB11; border: 1px solid #ccc; width: 12px; height: 12px; margin: 2px;"></span> Network</li>
    <li style="display: inline; float: left; padding-right: 10px;"><span style="display: inline; float: left; background-color: #9EBA03; border: 1px solid #ccc; width: 12px; height: 12px; margin: 2px;"></span> Disk</li>
    <li style="display: inline; float: left; padding-right: 10px;"><span style="display: inline; float: left; background-color: #D30000; border: 1px solid #ccc; width: 12px; height: 12px; margin: 2px;"></span> I/O</li>
    <li style="display: inline; float: left; padding-right: 10px;"><span style="display: inline; float: left; background-color: #004777; border: 1px solid #ccc; width: 12px; height: 12px; margin: 2px;"></span> CPU</li>
</ul>