<div>
    Welcome to Chart
</div>
<div><LinkTo @route="index" class='button'>Home</LinkTo></div>
<div><LinkTo @route="enter-data" class='button'>Enter Data</LinkTo></div>
<div> 
{{g-timeline data=model }}
</div>