<div>
    <!--<div>{{g-timeline data=model showBarLabels=false}}</div>-->
    <div style="margin-left: 15px;">
        <BsTab as |tab|>
            <tab.pane @title="Test 1">Testing 1 </tab.pane>
            <tab.pane @title="Test 2">
                <div>
                    <FileChart @data={{@model}}/>
                </div>
            </tab.pane>
            <tab.pane @title="Test 3">
                <div>
                    <br/>
                    <div><ResourceLegend/></div>
                    <br/>
                    <div>{{g-timeline data=model showBarLabels=false width=800}}</div>
                </div>
            </tab.pane>
        </BsTab>
    </div>
</div>